//Styling specifikt för admin-element 

#getadmin-btn{
  display: none;
}

/*INDEX, side menu*/
#show-admin-login:hover, #create-admin-login:hover{
  cursor: pointer;
}

//Admins lista över produkter
.product-name{
  border-top: 2px solid #97a49b;
  padding-top: 15px;
}

/*INDEX, main area*/
#login-admin-container{
  border: 8px double #dfa0c9;
  padding: 20px;
  display: none;
}

#create-admin-container{
  border: 8px double #e4c5bb;
  padding: 20px;
  display: none;
}

//Inlogg-meddelande
#message{
  height: 150px;
  resize: none;
}

//Lista på meddelande från kunder
.message-div{
  border-top: 8px double #c9d2cd;
  padding: 4%;
  font-family: 'playfair display';
  text-align: left;
}

.message-name, .message-digits {
  border-bottom: 2px solid #c9d2cd;
  font-size: 14px;
}

.message-name h4{
  font-size: 14px;
  font-family: 'playfair display';
}

.message-message p{
  font-size: 12px;
}

.answerBtn{
  margin-bottom: 15px;
}

 /* modalen*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

  .modal-content {
    background-color: #c9d2cd;
    margin: 15% auto;
    padding: 20px;
    border: 8px double #97a49b;
    width: 80%;
    color: #747e77;
    font-weight: 600;
  }
  .close {
    color: #97a49b;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #747e77;
    text-decoration: none;
    cursor: pointer;
  }

  #add-product-link:hover{
    cursor: pointer;
  }
  
#menu-item-form label, #menu-item-form input{
  margin: 10px;
}

