

/*LÄNKAR*/
#submit-update, .answerBtn{    
    display: inline-flex;
    flex-wrap: wrap;
    border: 4px double #e4c5bb;
    padding: 10px 15px;
    margin: 5px auto;
    line-height: 1;   
    color: #747e77;
    background-color: #f0e4e5;
}

a{
    color: #747e77;
    font-weight: 600;
    text-decoration: none;
}

a:hover, .btn-container a:hover{
    color: #c9d2cd;
}

#submit-update:hover, .answerBtn:hover{
    background-color: #e4c5bb;
    border: 4px double #f0e4e5;   
}

a:visited, #submit-update:visited, .answerBtn:visited {
    color: #97a49b;
}

/*MENU*/
.header-item-group{
    width: 70%;
    font-family: 'Petit Formal Script';
    font-size: 48px;
    background-color: rgba(240, 228, 229, 0.5);
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;   
}

.header-item-group h3:visited{
    color: #747e77;
    text-decoration: none;
}

.header-item-group a:hover{
    font-weight: 700;
}

@media screen and (max-width: 599px){
    .header-item-group{
        font-size: 18px;
        margin-left: 5px;
    }
}

.order-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 72px;
    text-decoration: none;
    color: #747e77;
    border: 4px double #747e77;
    border-radius: 50%;    

    &:hover{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: large;
        content: "beställ";
        background-color: #f0e4e5;
        border-color: #e4c5bb;
        color:  #747e77;
    }

    &:hover::after{
        content: "beställ";
    }

    &::after{
        content: "+";
    }

    &:visited{        
        color: #97a49b;        
    }
}

.btn-container .order-btn{
    margin: auto 5% auto auto;
}

.add-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #747e77;
    border: 4px double #747e77;
    border-radius: 50%;
    margin: auto 5% auto auto;

    &:hover{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: 20px;        
        background-color: #97a49b;
        border-color: #e4c5bb;
        color: #e4c5bb;
    }
}

.btn-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 228, 229, 0.4) ;
}

.admin-tasks a{
    margin-top: 5px;
    line-height: 2;
    color: #747e77;    
    display: block;
    align-items: center;
}

.admin-tasks a:hover{
    background-color: #e4c5bb;
    border: 8px double #f0e4e5;
    font-weight: 800;
}

.admin-tasks a:visited{
    color: #747e77;
}

#add-btn, .deleteBtn, .editBtn {
     margin-bottom: 15px;
     margin-right: 15px;
     line-height: 2;
     color: #747e77;
     text-align: center;
     background-color: #f0e4e5 ;
     border: 4px double #97a49b;
     font-family: 'playfair display';
     padding: 5px;
 }
 
 #add-btn:hover {
     background-color: #e4c5bb;
     border: 4px double #f0e4e5;
     font-weight: 800;
 }
 
 .deleteBtn:hover, .editBtn:hover, .orderBtn:hover{
     background-color: #e4c5bb;
     border: 4px double #f0e4e5;
     font-weight: 600;
 }
 
.orderBtn{
    margin: auto auto 15px auto;     
    color: #747e77;
    width: 30%;
    display: block;
    text-align: center;
    background-color: #f0e4e5 ;
    border: 4px double #c9d2cd;
    font-family: 'playfair display';
    padding: 10px;
}


