//$parallax-height: 100vh;
//$layer1-bg: url('./IMAGES/beskuren_index.jpg');
//$layer2-bg: url('./IMAGES/parallax.jpg');
//$layer3-bg: url('./IMAGES/parallax.jpg');

.parallax-container{
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /*  this is where the magic happens:  */
    background-attachment: fixed;
  
    background-image: url('./IMAGES/parallax_0.8.jpg');    
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
  
    text-align: center;
}

.parallax-container-two{
  display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /*  this is where the magic happens:  */
    background-attachment: fixed;
  
    background-image: url('./IMAGES/parallax_cakepops_0.6.jpg');    
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
  
    text-align: center;
}

.parallax-container-three{
  display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /*  this is where the magic happens:  */
    background-attachment: fixed;
  
    background-image: url('./IMAGES/parallax_tarta_0.6.jpg');    
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
  
    text-align: center;
}

.parallax-container-three{
  display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /*  this is where the magic happens:  */
    background-attachment: fixed;
  
    background-image: url('./images/parallax_cookies_0.8.jpg');    
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
  
    text-align: center;
}

.parallax-container-four{
  display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /*  this is where the magic happens:  */
    background-attachment: fixed;
  
    background-image: url('./images/parallax_restaurant.jpg');    
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
  
    text-align: center;
}

.parallax-container-five{
  display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /*  this is where the magic happens:  */
    background-attachment: fixed;
  
    background-image: url('./images/parallax_coffe.jpg');    
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
  
    text-align: center;
}

.buffer {
    width: 100%;
    min-height: 40vh;
    background-color: #f0e4e5;   
    z-index: 1;
    display: block;
    text-align: center center;    
    border-top: 8px double #c9d2cd;
    border-bottom: 8px double #c9d2cd;
    font-family: 'Petit Formal Script';
    font-size: larger;
    font-weight: 800;
  }

  .buffer-admin{
    width: 100%;
    min-height: 50vh;
    background-color: #f0e4e5;   
    z-index: 1;
    display: block;
    text-align: center center;    
    border-top: 8px double #c9d2cd;
    border-bottom: 8px double #c9d2cd;
    font-family: 'Petit Formal Script';    
    font-weight: 800;
  }

  .admin-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 10% 2% 10%;
  }
  .buffer-admin h1{
    text-align: center;
    font-size: 64px;
  }

  .buffer h1{
    width: auto;
    margin: 60px auto;
    text-align: center;
  }

  .buffer p{
    width: 70%;
    margin: auto auto 40px auto;
  }
  
  .parallax-container2 {
    flex-direction: row;
    flex-wrap: wrap;  
    padding: 6rem 0;
    background-image: url('./IMAGES/parallax_0.6.jpg');
    gap: 1.6em;
  }

  .parallax-container3 {
    flex-direction: row;
    flex-wrap: wrap;  
    padding: 6rem 0;
    background-image: url('./IMAGES/parallax_cakepops_0.4.jpg');
    gap: 1.6em;
  }

  .parallax-container4 {
    flex-direction: row;
    flex-wrap: wrap;  
    padding: 6rem 0;
    background-image: url('./IMAGES/parallax_tarta_0.4.jpg');
    gap: 1.6em;
  }

  .parallax-container5 {
    flex-direction: row;
    flex-wrap: wrap;  
    padding: 6rem 0;
    background-image: url('./images/parallax_cookies_0.8.jpg'); 
    gap: 1.6em;
  }

  .parallax-container6 {
    flex-direction: row;
    flex-wrap: wrap;  
    padding: 6rem 0;
    background-image: url('./images/parallax_coffe.jpg'); 
    gap: 1.6em;
  }

  .parallax-container7{
    flex-direction: row;
    flex-wrap: wrap;  
    padding: 6rem 0;
    background-image: url('./images/parallax_restaurant.jpg'); 
    gap: 1.6em;
  }

