@charset "UTF-8";
body {
  background-color: #f0e4e5;
  color: #747e77;
  font-family: "playfair display";
  box-sizing: border-box;
}

.main-area {
  width: 90%;
  display: block;
  /*flex-direction: row;*/
  margin: auto;
}

.container {
  width: 90%;
  border: 8px double #e4c5bb;
  margin: auto;
  padding: 20px;
  color: #747e77;
  font-weight: 500;
  text-align: left;
}

/*ADMIN-AREA MOTSVARAR "CONTAINER" I KUNDVYN*/
.admin-area {
  width: 80%;
  border: 8px double #e4c5bb;
  padding: 15px;
  margin: auto;
}

.main-text {
  background-color: rgba(244, 238, 238, 0.5);
  padding: 20px;
}

/*Rubriker*/
.header-text {
  font-family: "Petit Formal Script";
}

.admin-area h1, .admin-area h2, .admin-area h3, .admin-area h4 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Petit Formal Script";
  font-size: x-large;
}

#index-area h3 {
  background-color: rgba(244, 238, 238, 0.5);
  padding: 20px;
}

.container h1, .container h2, .container h3, .container h4 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Petit Formal Script";
}

.product-frame h3, .product-frame h4 {
  width: 100%;
}

.user-logged-in {
  border: 8px double #c9d2cd;
  padding: 5px;
}

@media screen and (max-width: 599px) {
  .main-area {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .admin-area {
    width: 92%;
  }
  .container {
    width: 95%;
    display: block;
    border: 8px double #e4c5bb;
    border-style: none solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
  }
}
/* FIXA SÅ KNAPPARNA ÄR PÅ RAD
.deleteBtn, .editBtn{
    display:
}*/
/*LÄNKAR*/
.side-menu a {
  display: inline-flex;
  flex-wrap: wrap;
  border: 4px double #e4c5bb;
  padding: 5px 15px;
  margin: 5px auto;
  line-height: 1;
  color: #747e77;
}

.side-menu a:hover {
  background-color: #e4c5bb;
  border: 4px double #f0e4e5;
}

.side-menu a:visited {
  color: #97a49b;
}

/*MENU*/
.header-item-group {
  font-family: "Petit Formal Script";
  border-bottom: 6px double #c9d2cd;
}

.header-item-group a:visited {
  color: #747e77;
  text-decoration: none;
}

.header-item-group a:hover {
  font-weight: 700;
}

.order-btn {
  font-weight: 1800;
  font-size: 72px;
  text-decoration: none;
  color: #747e77;
  border: 4px double #747e77;
  border-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 15% 25%;
}

.btn-container {
  width: 50%;
}

.order-btn:hover {
  background-color: #97a49b;
  border-color: #e4c5bb;
  color: #e4c5bb;
}

.order-btn:visited {
  color: #97a49b;
}

.admin-tasks a {
  margin-top: 5px;
  line-height: 2;
  color: #747e77;
  display: block;
  align-items: center;
}

.admin-tasks a:hover {
  background-color: #e4c5bb;
  border: 8px double #f0e4e5;
  font-weight: 800;
}

.admin-tasks a:visited {
  color: #747e77;
}

#add-btn, .deleteBtn, .editBtn {
  /* margin-top: 45px;*/
  margin-bottom: 15px;
  margin-right: 15px;
  line-height: 2;
  color: #747e77;
  /*width: 70%;
  display: block;*/
  text-align: center;
  background-color: #f0e4e5;
  border: 4px double #97a49b;
  font-family: "playfair display";
  padding: 5px;
}

#add-btn:hover {
  background-color: #e4c5bb;
  border: 4px double #f0e4e5;
  font-weight: 800;
}

.deleteBtn:hover, .editBtn:hover, .orderBtn:hover {
  background-color: #e4c5bb;
  border: 4px double #f0e4e5;
  font-weight: 600;
}

.orderBtn {
  /* margin-top: 45px;*/
  margin: auto auto 15px auto;
  color: #747e77;
  width: 80%;
  display: block;
  text-align: center;
  background-color: #f0e4e5;
  border: 4px double #c9d2cd;
  font-family: "playfair display";
  padding: 10px;
}

@media screen and (max-width: 599px) {
  .side-menu a {
    border: 4px double #e4c5bb;
    padding: 5px 15%;
    margin: 20px auto;
  }
  .side-menu a {
    border: 4px double #e4c5bb;
    padding: 5px 15%;
    margin: 20px auto;
  }
}
.header {
  width: 90%;
  position: relative;
  z-index: 1;
  display: block;
  margin: 10px 20px 20px 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 8px double #c9d2cd;
  border-bottom: 8px double #c9d2cd;
  font-family: "Petit Formal Script";
  font-size: larger;
}

.header:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("IMAGES/header_beskuren.jpg") center center;
  opacity: 0.4;
}

.footer {
  display: flex;
  flex-direction: row;
  border-top: 8px double #c9d2cd;
  border-bottom: 8px double #c9d2cd;
  margin: 20px 20px 10px 20px;
  padding: 20px;
}

.footer-list a:visited {
  color: #747e77;
  margin-right: 30px;
}

.side-menu {
  display: inline-flex;
  width: 90%;
  height: auto;
  color: #747e77;
  border: 8px double #e4c5bb;
  padding: 10px 2%;
  margin: 2% auto;
  text-align: center;
}

/*BRÖDSMULOR*/
.navigator {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

ul.breadcrumb {
  padding: 10px 25px;
  list-style: none;
  background-color: #c9d2cd;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 10px;
  color: #747e77;
  content: "/ ";
}

ul.breadcrumb li a {
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  cursor: pointer;
  font-weight: 700;
}

ul.breadcrumb li a:visited {
  color: #747e77;
}

li.ur-here {
  font-weight: 700;
}

/*BRÖDSMULOR SLUT*/
@media screen and (max-width: 599px) {
  .side-menu {
    width: 90%;
    height: auto;
    border: 8px double #e4c5bb;
    padding: 5px 5px;
    margin: 20px auto;
  }
}
/*ADMIN
.admin-tasks{
    display: flex;
    flex-direction: column;
    color: #747e77;
    width: 100%;
}

.admin-tasks p{
    margin-top: 10px;
}*/
/*INDEX, side menu*/
#show-admin-login:hover, #create-admin-login:hover {
  cursor: pointer;
}

.product-name {
  border-top: 2px solid #97a49b;
  padding-top: 15px;
}

/*INDEX, main area*/
#login-admin-container {
  border: 8px double #dfa0c9;
  padding: 20px;
  display: none;
}

#create-admin-container {
  border: 8px double #e4c5bb;
  padding: 20px;
  display: none;
}

#message {
  height: 150px;
  resize: none;
}

/*Admin alertbox*/
.admin-alert-box {
  display: none;
  position: fixed;
  z-index: 11;
  width: 30%;
  left: 35%;
  right: 35%;
  top: 25%;
  background-color: #e4c5bb;
}

/* Basic styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#add-product-link:hover {
  cursor: pointer;
}

#menu-item-form label, #menu-item-form input {
  margin: 10px;
}

#cakes-pies, #cookies-buns, #good-things {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.product-frame {
  width: 40%;
  border: 8px double #c9d2cd;
  padding: 10px;
  margin: 10px;
}

.product-frame button p {
  width: 90%;
}

.prod-img {
  width: 90%;
}

.product-img {
  width: 250px;
  height: auto;
}

.menu-img {
  width: 100%;
  display: inline-flex;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*opacity: 0.4;*/
}

.menu-img img {
  width: 50%;
}

@media screen and (max-width: 599px) {
  #cakes-pies {
    display: flex;
    flex-wrap: column;
    width: 100%;
    margin: auto;
  }
  .product-frame {
    width: 100%;
    border: 8px double #c9d2cd;
    padding: 10px;
    margin: 10px;
  }
  .orderBtn {
    /* margin-top: 45px;*/
    margin: auto auto 15px auto;
    color: #747e77;
    width: 90%;
    background-color: #f0e4e5;
    border: 4px double #c9d2cd;
  }
  .prod-img {
    width: 200%;
  }
  .product-img {
    width: 50%;
    height: auto;
  }
}
form {
  text-align: left;
}

input[type=text], input[type=password] {
  width: 90%;
  border: 4px double #e4c5bb;
  margin: 10px 0;
  padding: 7px 10px;
  background-color: #f4eeee;
  color: #747e77;
  font-family: "playfair display";
  font-weight: 600;
  outline: #e4c5bb;
}

input[type=submit] {
  background-color: #f0e4e5;
  border: 4px double #e4c5bb;
  width: 50%;
  color: #747e77;
  font-family: "playfair display";
  font-weight: 600;
  padding: 7px 10px;
}

input[type=submit]:hover {
  background-color: #e4c5bb;
  border: 4px double #f0e4e5;
  font-weight: 800;
}

#send-btn {
  width: 90%;
  display: block;
  margin: 20px auto;
}/*# sourceMappingURL=main.css.map */