body {
    background-color: #f0e4e5;
    color: #747e77;
    font-family: 'playfair display';
}

.header{
    width: 90%;
    position: relative;
    z-index: 1;
    display: block;
    margin: 10px 20px 20px 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 8px double #c9d2cd;
    border-bottom: 8px double #c9d2cd;
    font-family: 'Petit Formal Script';
    font-size: larger;

}

.header:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("IMAGES/header_beskuren.jpg") center center; 
    opacity: .4;
}

/*BRÖDSMULOR*/
.navigator{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}
ul.breadcrumb{
    padding: 10px 25px;
    list-style: none;
    background-color: #c9d2cd;
} 

ul.breadcrumb li{
    display: inline;
}
ul.breadcrumb li+li:before{
    padding: 10px;
    color: #747e77;
    content: "/\00a0";
}

ul.breadcrumb li a{
    text-decoration: none;
}

ul.breadcrumb li a:hover{
    cursor: pointer;
    font-weight: 700;
}

ul.breadcrumb li a:visited{
    color: #747e77;
}
 li.ur-here{
    font-weight: 700;
 }
/*BRÖDSMULOR SLUT*/

.main-area{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    
}


.container{
    width: 65%;
    border: 8px double #e4c5bb ;
    margin-left: 4%;
    padding: 20px;
    color: #747e77;
    font-weight: 500;
    text-align: left;
}

.container h1, .container h2, .container h3, .container h4{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Petit Formal Script';
}

.admin-area{
    border: 8px double #e4c5bb;
    padding: 15px;
}

.admin-area h1, .admin-area h2, .admin-area h3, .admin-area h4{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Petit Formal Script';
    font-size: x-large;
}

/*.container:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("IMAGES/cafe.jpg") center center; 
    opacity: .2;
}*/

#index-area h3{
    background-color: rgba(244, 238, 238, 0.5);
    padding: 20px;
}

.main-text{
    background-color:rgba(244, 238, 238, 0.5);
    padding: 20px;
}

/*INDEX, side menu*/
#show-customer-login:hover, #show-admin-login:hover, #create-admin-login:hover, #create-customer-login:hover{
    cursor: pointer;
}
/*
#show-customer-login, #show-admin-login, #create-admin-login, #create-customer-login{
    margin: 100px auto;
}*/

.side-menu{
    width: 30%;
    height: auto;
    color: #747e77;
    border: 8px double #e4c5bb;
    padding: 30px 2%;
    margin: auto 2% auto auto;
    text-align: center;
    align-items: center;
}


/*LÄNKAR*/
.side-menu a{    
    border: 8px double #e4c5bb;
    padding: 5px 15px;
    margin: 15px auto;
    line-height: 3.5;   
}

.side-menu a:hover{
    background-color: #e4c5bb;
    border: 8px double #f0e4e5;
    font-weight: 700;
}

.side-menu a:visited{
    color: #747e77;
}
/*LÄNKAR SLUT*/
/*GÖRA INFÄLLNING AV MENY ISTÄLLET?*/

.footer {
    border-top: 8px double #c9d2cd;
    border-bottom: 8px double #c9d2cd;
    margin: 20px 20px 10px 20px;
    padding: 20px;
}

.footer-list a:visited{
    color: #747e77;
}



@media screen and (max-width: 599px) {
    .main-area{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .side-menu{       
        width: 90%;
        height: auto;
        border: 8px double #e4c5bb;
        padding: 5px 5px;
        margin: 20px auto;
    }  
    
    .side-menu a{ 
        border: 4px double #e4c5bb;        
        padding: 5px 35%;
        margin: 20px auto;
    }  

    .container{
        width: 78%;
        display: block;
        border: 8px double #e4c5bb ;
        border-style: none solid;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 20px;
    }
}

/*MENU*/
.header-item-group{
    font-family: 'Petit Formal Script';
    border-bottom: 6px double #c9d2cd ;
}
.header-item-group a:visited{
    color: #747e77;
    text-decoration: none;
}

.header-item-group a:hover{
    font-weight: 700;
}

.menu-img img{
    opacity: 0.4;
}

.user-logged-in{
    border: 8px double #c9d2cd    ;
    padding: 5px;
}

/*ADMIN*/
.admin-tasks{
    display: flex;
    flex-direction: column;
    color: #747e77;
}

.admin-tasks p{
    margin-top: 10px;
}

.admin-tasks a{
    margin-top: 5px;
    line-height: 2;
    color: #747e77;
    width: 70%;
    display: block;
    align-items: center;
}

.admin-tasks a:hover{
    background-color: #e4c5bb;
    border: 8px double #f0e4e5;
    font-weight: 800;

}

.admin-tasks a:visited{
    color: #747e77;
}

#menu-item-form label, #menu-item-form input{
    margin: 10px;
}

tr{
    margin-top: 20px;
}

#add-btn, .deleteBtn, .editBtn, .orderBtn{
   /* margin-top: 45px;*/
    margin-bottom: 15px;
    line-height: 2;
    color: #747e77;
    /*width: 70%;
    display: block;*/
    text-align: center;
    background-color: #f0e4e5 ;
    border: 4px double #97a49b;
    font-family: 'playfair display';
    padding: 5px;
}

#add-btn:hover {
    background-color: #e4c5bb;
    border: 4px double #f0e4e5;
    font-weight: 800;
}

.deleteBtn:hover, .editBtn:hover, .orderBtn:hover{
    background-color: #e4c5bb;
    border: 4px double #f0e4e5;
    font-weight: 600;
}

/* FIXA SÅ KNAPPARNA ÄR PÅ RAD
.deleteBtn, .editBtn{
    display:
}*/

/*INDEX, main area*/
#login-admin-container{
    border: 8px double #dfa0c9;
    padding: 20px;
    display: none;
}

#login-customer-container{
    border: 8px double #e4c5bb;
    padding: 20px;
    display: none;
}

/*#login-admin, #login-customer*/

form{
    text-align: left;
}

input[type=text], input[type=password]{
    width: 90%;
    border: 4px double #e4c5bb;
    margin: 10px 0;
    padding: 7px 10px;
    background-color: #f4eeee;
    color: #747e77;
    font-family: 'playfair display';
    font-weight: 600;
    outline: #e4c5bb;
}

input[type=submit]{
    background-color: #f0e4e5;
    border: 4px double #e4c5bb;
    width: 50%;
    color: #747e77;
    font-family: 'playfair display';
    font-weight: 600;
    padding: 7px 10px;
}

input[type=submit]:hover{
    background-color: #e4c5bb;
    border: 4px double #f0e4e5;
    font-weight: 800;
}

#send-btn{
    width: 90%;
    display: block;
    margin: 20px auto;
}

/*ADMIN.HTML*/
/*ADMIN-AREA MOTSVARAR "CONTAINER" I KUNDVYN*/




.list-line{
    width: 450%;
    border-top: 1px solid #97a49b;
    padding: 10px;
    margin: 10px;
}

#message{
    height: 150px;
    resize: none;
}

/*Rubriker*/
.header-text{
    font-family: 'Petit Formal Script';
}

#create-customer-container{
    border: 8px double #e4c5bb;
    padding: 20px;
    display: none;
}

#create-admin-container{
    border: 8px double #e4c5bb;
    padding: 20px;
    display: none;
}

.product-frame{
    border: 8px double #c9d2cd;
    padding: 10px;
    margin: 10px;
}