body {
    background-color: #f0e4e5;
    color: #747e77;
    font-family: 'playfair display';
}

.header{
    width: 90%;
    position: relative;
    z-index: 1;
    display: block;
    margin: 10px 20px 20px 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 8px double #c9d2cd;
    border-bottom: 8px double #c9d2cd;
    font-family: 'Petit Formal Script';
    font-size: larger;

}

.header:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("IMAGES/header_beskuren.jpg") center center; 
    opacity: .4;
}

.main-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.container{
    width: 90%;
    position: relative;
    z-index: 1;
    display: block;
    margin: 10px 20px 20px 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 8px double #c9d2cd;
    border-bottom: 8px double #c9d2cd;
    font-size: larger;
    color: #747e77;
    font-weight: 500;
}

.container:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("IMAGES/cafe.jpg") center center; 
    opacity: .2;
}

#main-area h3{
    background-color: rgba(240, 228, 229, 0.5);
    padding: 20px;
}

.main-text{
    background-color: rgba(240, 228, 229, 0.5);
    padding: 20px;
}

/*INDEX, side menu*/
#show-customer-login:hover, #show-admin-login:hover{
    cursor: pointer;
}
/*
#show-customer-login, #show-admin-login, #create-admin-login, #create-customer-login{
    margin: 100px auto;
}*/

.side-menu{
    position: relative;
    z-index: 1;
    width: 30%;
    height: auto;
    color: #747e77;
    font-weight: 600;
    border: 8px double #e4c5bb;
    padding: 40px 10px;
    margin-right: 2%;
    text-align: center;
}

.side-menu::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   /* background: url("IMAGES/beskuren_index.jpg") center center; */
    /*opacity: .4;*/
}

.side-menu a{
    border: 8px double #e4c5bb;
    padding: 5px 15px;
    margin: 15px auto;
    line-height: 3.5;
}

.side-menu a:hover{
    background-color: #e4c5bb;
    border: 8px double #f0e4e5;
    font-weight: 800;

}

.side-menu a:visited{
    color: #747e77;
}

.container{
    width: 65%;
    border: 8px double #e4c5bb ;
    margin-left: 4%;
    padding: 20px;
}

.footer {
    border-top: 8px double #c9d2cd;
    border-bottom: 8px double #c9d2cd;
    margin: 20px 20px 10px 20px;
    padding: 20px;
}

@media screen and (max-width: 499px) {
    .main-area{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .side-menu{
        position: relative;
        z-index: 1;
        width: 90%;
        height: auto;
        border: 8px double #e4c5bb;
        padding: 5px 5px;
        text-align: center;
    }  
    
    .side-menu a{
        display:inline;
        border: 4px double #e4c5bb;
        padding: 5px 35px;
        margin: 15px;
    }

    .btn-smallscreen{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container{
        width: 78%;
        display: block;
        border: 8px double #e4c5bb ;
        border-style: none solid;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 20px;
    }
}

/*MENU*/
.header-item-group{
    font-family: 'Petit Formal Script';
    border-bottom: 6px double #c9d2cd ;
}

.user-logged-in{
    border: 8px double #c9d2cd    ;
    padding: 5px;
}

/*ADMIN*/
.admin-tasks{
    display: flex;
    flex-direction: column;
    color: #747e77;
}

.admin-tasks p{
    margin-top: 10px;
}

.admin-tasks a{
    margin-top: 5px;
    line-height: 2;
    color: #747e77;
    width: 70%;
    display: block;
    align-items: center;
}

.admin-tasks a:hover{
    background-color: #e4c5bb;
    border: 8px double #f0e4e5;
    font-weight: 800;

}

.admin-tasks a:visited{
    color: #747e77;
}

#menu-item-form label, #menu-item-form input{
    margin: 10px;
}

#add-btn{
    margin-top: 5px;
    line-height: 2;
    color: #747e77;
    width: 70%;
    display: block;
    align-items: center;
    background-color: #f0e4e5 ;
    border: 4px double #97a49b;
}

#add-btn:hover{
    background-color: #e4c5bb;
    border: 4px double #f0e4e5;
    font-weight: 800;
}

/*INDEX, main area*/
#login-admin-container{
    border: 8px double #dfa0c9;
    padding: 20px;
    display: none;
}

#login-customer-container{
    border: 8px double #e4c5bb;
    padding: 20px;
    display: none;
}

/*#login-admin, #login-customer*/

form{
    text-align: left;
}

input[type=text], input[type=password]{
    width: 50%;
    border: 4px double #e4c5bb;
    margin: 10px 0;
    padding: 7px 10px;
    background-color: #f0e4e5;
    color: #747e77;
    font-family: 'playfair display';
    font-weight: 600;
    outline: #e4c5bb;
}

input[type=submit]{
    background-color: #f0e4e5;
    border: 4px double #e4c5bb;
    width: 50%;
    color: #747e77;
    font-family: 'playfair display';
    font-weight: 600;
    padding: 7px 10px;
}

input[type=submit]:hover{
    background-color: #e4c5bb;
    border: 4px double #f0e4e5;
    font-weight: 800;
}

/*ADMIN.HTML*/
.admin-area{
    border: 8px double #e4c5bb;
    padding: 15px;
}

tr{
    border-top: 2px solid #97a49b;
}

#message{
    height: 150px;
    resize: none;
}